{% extends 'flatpages/default.html' %}

{% load cache %}

{% load custom_filters %}

<!-- Название у нас будет Product -->

{% block title %}
{% cache 30 title %}
News

{% endcache %}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}

<h1>Новость</h1>
<table>
    <tr>
        <td><b>Время</b></td>
        <td><b>Заголовок</b></td>
        <td><b>Статья</b></td>
        <td><b>Тип категории</b></td>

    </tr>


    <tr>

        <td>{{ new.time_in|date:'d M Y' }}</td>
        <td>{{ new.head }}</td>
        <td>{{ new.text|censor }}</td>
         <td>
            {% for cat in new.category.all %}
                {{ cat }}
            {% endfor %}
        </td>
        


    </tr>


</table>

{% endblock content %}