{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Search
{% endblock title %}

{% block content %}
   <h1>Search</h1>
    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   {% comment %} <form action="" method="get"> {% endcomment %}
    {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
    {% comment %} {{ filterset.form.as_p }} {% endcomment %}
    {# Добавим кнопку отправки данных формы #}
    {% comment %} <input type="submit" value="Find" /> {% endcomment %}

<hr>
<form action="" method="get">
    {% csrf_token %}
    <form action="" method="get">
    {{filterset.form.as_p}}
    <input type="submit" value="Find"/>

</form>



{% endblock content %}